# Minimal WASI reactor kernel config
CONFIG_PREEMPT_NONE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
CONFIG_PRINTK=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="arch/wasm/initramfs.list"
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_MODULES=n
CONFIG_NETWORKING=n
CONFIG_BLOCK=n
CONFIG_DEBUG_KERNEL=n
CONFIG_SMP=n
CONFIG_RANDSTRUCT_NONE=y
